/dependencies-*/
/Debug/*
/Release/*
/lib/*
DerivedData
contents.xcworkspacedata
dojo.xcodeproj/project.xcworkspace/xcuserdata
dojo.xccheckout
Publish/

*.vcxproj.user
CMakeFiles/*
.vs/Project/*
*.vcxproj.*
*.vcxproj
*.VC.db
*.VC.opendb
*.sln
*.dir/*
*.ipch
Win32/*
Dojo_CXX_cotire.cmake
CMakeCache.txt
cmake_install.cmake
CMakeScripts
*.build/*
*.xcodeproj/*
cotire
Makefile
*.a

.ninja*
*.ninja
*.cmake
